:root {
  --black: #382a2a;
  --gray: #676767;
  --white: #f7f7f7;
  --red: #d32e29;

  --ligher-blue: #e1f4ff;
  --light-blue: #bbe6ff;
  --dark-blue: #88d4ff;

  --main-title: 8rem;
  --title-section: 3.5rem;
  --sub-title: 2.25rem;
  --main-content: 3rem;
  --main-sub-content: 1.6rem;
  --sub-content: 1.3rem;

  --bold: 600;
  --semi-bold: 500;
  --medium: 450;
  --semi-medium: 390;
  --regular: 300;
  --semi-thin: 200;
  --thin: 150;
  --letterspacing-small: 1.4px;
  --letterspacing: 1.9px;
  --line-height-title-section: 80px;
  --line-height-sub-title-section: 54px;
  --border-radius: 2.2rem;
}
html {
  scroll-behavior: smooth;
  transition: scroll 1s ease-in-out;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--white);
  color: var(--black);
  letter-spacing: var(--letterspacing);
}

h2 {
  scroll-margin-top: 8rem;
}
header {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
}

section {
  margin: 10rem;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 8rem;
  font-weight: 550;
  color: var(--white);
  padding-top: 14.5rem;
  margin-left: 19rem;
  word-spacing: 2.25px;
  animation: text-appear 1.25s ease-out;
}
h2 {
  margin-top: 20rem;
  margin-left: 4.5rem;
  margin-bottom: 5rem;
  font-size: var(--title-section);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-title-section);
  letter-spacing: var(--letterspacing);
}
h2,
#Footer-text-me,
#Footer-email-select,
#Footer-phone-select,
h3:not(.P2-sub-title-1, .P2-sub-title-2, .P2-sub-title-3) {
  animation: text-appear both;
  animation-timeline: view(70% 1%);
  animation-range: entry 1 cover 5vh;
}

p,
.Portfolio-sub-title,
.About-sub-title,
.Portfolio-sub-title-highlight,
.About-sub-title-highlight:not(
    .P2-first-card,
    .P2-second-card,
    .P2-third-card
  ) {
  animation: text-appear both;
  animation-timeline: view(60% 10%);
  animation-range: entry 60 cover 30vh;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(3);
  }
}

h3 {
  font-size: var(--sub-title);
  font-weight: var(--semi-bold);
  letter-spacing: var(--letterspacing-small);
}

p {
  line-height: 170%;
  font-size: var(--sub-content);
  text-align: left;
  font-weight: var(--semi-medium);
}

nav {
  margin: 0;
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  letter-spacing: var(--letterspacing-small);
  align-items: center;
  animation: fade-down 1.25s ease-out;
}
a {
  text-decoration: none;
}
nav > a {
  font-size: 0.95rem;
  color: var(--black);
  font-weight: 300;
  position: relative;
}

#home-button {
  color: var(--black);
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: var(--semi-bold);
  animation: fade-down 1.25s ease-out;
}

.contact-button {
  text-decoration: none;
  border: none;
  border-radius: 2rem;
  background-color: var(--red);
  color: var(--white);
  padding: 0.9rem 2.5rem;
  letter-spacing: var(--letterspacing-small);
  font-weight: 590;
  margin-right: 1rem;
  animation: fade-down 1.25s ease-out;
}

@keyframes fade-down {
  0% {
    opacity: O;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

#hero-description,
#hero-services {
  animation: text-appear 2.25s ease-out;
}
#hero-description {
  position: relative;
  max-width: 36ch;
  left: 22rem;
  top: -2.5rem;
}

#hero-text {
  animation: none;
  color: var(--white);
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 230;
  word-spacing: 1px;
}

#hero-text-highlight {
  font-weight: var(--medium);
}

#hero-services {
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
  font-weight: var(--regular);
  word-spacing: 2.25px;
  padding: 7rem 10rem;
}

.astronaut-hero-img {
  border-radius: var(--border-radius);
  position: absolute;
  z-index: -1;
  display: block;
  margin: 1.5rem 5.2rem;
  width: 91.65%;
}
.profile-picture-img {
  border-radius: var(--border-radius);
  position: absolute;
  z-index: 1;
  margin-left: 7rem;
  margin-top: 7rem;
  width: 45%;
}

#about-me-text-1,
#about-me-text-2 {
  margin-top: 2.7rem;
  margin-left: 2.7rem;
  line-height: 180%;
  font-size: var(--main-sub-content);
  text-align: left;
  font-weight: var(--semi-thin);
  letter-spacing: 1.9px;
  max-width: 40ch;
}

#about-me-text-1 {
  margin-bottom: 6rem;
}

#End-stay-connected-text {
  margin-bottom: 21rem;
  padding-left: 7rem;
}

#Portfolio,
#O-mne {
  text-transform: uppercase;
  margin-left: 13rem;
}

#End-stay-connected-text,
#Footer-contact-info,
#Footer-text-me {
  font-weight: var(--regular);
}

.P2-main-title-highlight {
  color: var(--gray);
  font-weight: var(--thin);
  text-transform: none;
}

.P2-cards-container {
  border: 2px solid green;
  margin-left: 10rem;
  max-width: 1100px;
  position: relative;
  max-width: 50;
  left: 10rem;
}

.P2-first-card,
.P2-second-card,
.P2-third-card {
  position: sticky;
  top: 0;
  padding: 2.6rem 8rem;
  padding-left: 6rem;
  padding-bottom: 4rem;
  border-radius: var(--border-radius);
  width: 65%;
  margin-bottom: 10rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.P2-first-card {
  background-color: var(--ligher-blue);
}

.P2-second-card {
  background-color: var(--light-blue);
  top: 4rem;
}
.P2-third-card {
  background-color: var(--dark-blue);
}

#Portfolio-section,
#About-section {
  display: flex;
  justify-content: flex-end;
  margin-right: 15rem;
}

.Portfolio-sub-title,
.About-sub-title {
  font-size: var(--sub-title);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-sub-title-section);
}

.Portfolio-sub-title-highlight,
.About-sub-title-highlight {
  color: var(--gray);
  font-weight: var(--thin);
  text-transform: none;
  font-size: var(--sub-title);
}
#Portfolio-gallery-row,
.Portfolio-item-1-wide {
  animation: text-appear both;
  animation-timeline: view(70% 1%);
  animation-range: entry 1 cover 5vh;
}

#Portfolio-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5rem;
  padding: 4rem 5vw;
}

.Portfolio-item-1-wide {
  display: flex;
  justify-content: flex-start;
  margin-left: -2.24rem;
  margin-top: 8rem;
  background-color: var(--gray);
  max-width: 1100px;
  height: 600px;
  border-radius: var(--border-radius);
}
.Portfolio-item-2-tall {
  margin-left: -7.12rem;
  background-color: var(--gray);
  width: 45%;
  height: 678px;
  border-radius: var(--border-radius);
}

.Portfolio-item-3-tallest {
  background-color: var(--gray);
  width: 60%;
  height: 1320px;
  border-radius: var(--border-radius);
}

#About-text-container {
  position: relative;
  margin-top: 29.4rem;
  margin-left: 26.3rem;
  padding: 13.9rem 4.5rem;
  padding-right: 6rem;
  background-color: var(--ligher-blue);
  border-radius: var(--border-radius);
  max-width: 764px;
  max-height: 1213px;
  width: 50%;
  max-width: 59ch;
}

#Footer-container {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding-bottom: 11rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--white);
  text-align: left;
  background-color: var(--black);
  min-height: 35rem;
}

#Footer-contact-info {
  margin-top: 7rem;
  margin-bottom: 1rem;
  padding-left: 6rem;
  max-width: 40;
  display: flex;
  justify-content: flex-start;
  color: var(--white);
}

#Footer-text-me {
  font-size: var(--main-sub-content);
  padding-left: 11rem;
  margin-bottom: 5rem;
}

#Footer-phone-select,
#Footer-email-select {
  margin-top: -2.5rem;
  margin-left: 8rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

#Footer-email-icon,
#Footer-phone-icon {
  padding-left: 1rem;
  padding-bottom: 0.2rem;
}

#Contact-email,
#Contact-phone {
  color: var(--white);
  padding-left: 1.7rem;
  margin-top: 0.25rem;
}
